* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.image {
    height: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: hsl(277, 64%, 61%);
}

img {
    height: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.6;
}

.stats {
    background-color: hsl(244, 38%, 16%);
    padding: 40px;
    height: 320px;
    width: 420px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 35px;
    font-weight: 700;
}

h2 {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

span {
    color: hsl(277, 64%, 61%);
    font-size: 35px;
    font-weight: 700;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figs {
    padding: 20px;
    flex-direction: row;
}

h3 {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

h4 {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
}

@media only screen and (max-width: 500px) {
    
    body {
        background-color: hsl(233, 47%, 7%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image {
        height: auto;
        width: 350px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: hsl(277, 64%, 61%);
    }
    
    img {
        height: auto;
        width: 350px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        opacity: 0.6;
    }
    
    .stats {
        background-color: hsl(244, 38%, 16%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        height: 320px;
        width: 270px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    h1 {
        color: hsl(0, 0%, 100%);
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        padding-top: 40px;
    }
    
    h2 {
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 30px;
        text-align: center;
    }
    
    span {
        color: hsl(277, 64%, 61%);
        font-size: 27px;
        font-weight: 700;
    }
    
    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .figs {
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    h3 {
        color: hsl(0, 0%, 100%);
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    h4 {
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 15px;
        font-weight: 400;
        margin-top: 0;
    }
}